@import '../js/bower_components/bootstrap/less/bootstrap';


.main-container {
  background: url('img/jeep.jpeg') center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
}

.logo-container {
  font-size: 2.1rem;
  color: #fff;
}

.ui.inverted.menu.navbar {
  width: 100%;
  background-color: black;
  margin-bottom: 0;
}

.parent {
  background: url('../img/jeep.jpeg') center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  /*margin: 250px 0 0 500px;*/
}

.ui.black.inverted.button {
    width: 150px;
}

.ui.middle.aligned.center.aligned.grid {
  background: url('../img/jeep.jpeg') center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  opacity: .6;
}

.panel-default {
 opacity: 0.9;
 margin-top:100px;
}

.form-group.last {
 margin-bottom:0px;
}

.login-container {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url('../img/jeep.jpeg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #eee;
  opacity: .95;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

