@import '../js/bower_components/bootstrap/less/bootstrap';
@import '../js/bower_components/toastr/toastr';

.options, .navbar-brand {
  color: #EEE;
}

.login-container {
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/jeep.jpeg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;
    background: #EEE;
}

.navbar {
    opacity: .5;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
    color: #EEE;
}

.navbar-inverse .navbar-nav > li > a {
  color: #EEE;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/jeep.jpeg') center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.homeContent {
  color: #EEE;
  font-family: 'Karla', sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 300px;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration: .75s;
}

.dirty {
  color: #EEE;
  font-family: 'Karla', sans-serif;
  font-size: 25px;
  text-align: center;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration: .75s;
}

.btn.outline {
    width: 250px;
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.form-horizontal {
  width: 300px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.inputstl {
    width: 100px;
    padding: 9px;
    margin-top: 5px;
    margin-left: 115px;
    border: solid 1px #0077B0;
    outline: 0;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #C6ECFF), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #C6ECFF 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.button-add {
    margin-left: auto;
}

.post-btn {
    margin-top: 7px;
}

.newSearch {
    margin-left: 595px;
}

.searchTitle {
    text-align: center;
}

.form-group-search {

}

.search {
    margin-top: 120px;
}

.category-search {
  margin-left: 580px;
}

.search-btn {
    margin-left: 605px;
}

.inputs2 {
    width: 100px;
    padding: 9px;
    margin-left: 590px;
    border: solid 1px #0077B0;
    outline: 0;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #C6ECFF), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #C6ECFF 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.listing {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #F8F8F8;
    border: 1px solid #F1F1F;
    width: 500px;
    margin: 50px auto 0 auto;
}

.listing-price, .listing-title, .listing-description, .listing-contact, listing-location{
    display: block;
    overflow: hidden;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 5px 0;
    font-size: 1.2em;
}

.delete {
  margin-left: 580px;
}


